.FormControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & label {
    font-weight: bold;
    align-self: flex-start;
    padding: 0.5rem;
    padding-left: 2rem;
  }
  & .options {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 1rem 0rem;
    & .option {
      font-weight: normal;
      padding: 0rem;
      margin: 0rem 1rem 0rem 1rem;
    }
  }
  
  
  & button {
    margin-top: 0.5rem;
    width: 30%;
    align-self: center;
  }
  
  & .form-error {
    color: red;
    padding: 0.2rem;
  }
}